.empty {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray-300);
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.imgTask {
  display: block;
  margin: 1rem auto 1rem;
}

.row1 {
  font-weight: 700; 
}

.row2 {
  font-weight: 400;
}